
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo__part {
    color: var(--logo-color-text);
}

.logo__part--inverse {
    color: var(--white-color-text);
}