.product-card__link {
    display: inline-block;

    @include transition(box-shadow);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.product-card__thumb {
    display: flex;
    position: relative;
    overflow: hidden;
}

.product-card__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    
    @include transition(transform);

    .product-card__link:hover &,
    .product-card__link:focus & {
        transform: translateY(0);
    }
}

.product-card__label {
    position: absolute;
    min-width: 322px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white-color-text);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-card__meta {
    padding: 20px 24px;
    border-left: 1px solid var(--card-border-color);
    border-right: 1px solid var(--card-border-color);
    border-bottom: 1px solid var(--card-border-color);
}

.product-card__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
}

.product-card__discr {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}