body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color-bg);
    color: var(--secondary-color-text)
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section-title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }

}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    display: inline-block;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
    border: transparent;
}
