:root {
    --accent-color: #2196F3;
    --main-color-text: #212121;
    --secondary-color-text: #757575;
    --logo-color-text: #000000;
    --white-color-text: #FFFFFF;
    --main-color-bg: #FFFFFF;
    --secondary-color-bg: #F5F4FA;
    --footer-color-bg: #2F303A;
    --active-button: #188CE8;
    --card-border-color: #EEEEEE;
    --hero-color-bg: #C4C4C4;
    --contacts-footer: rgba(255, 255, 255, 0.6);
}