.presentation-list {
    display: flex;
    gap: 30px;
}

.presentation-list__item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.presentation-list__label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.presentation-list__discr {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color-text);
}